*.wav
*.png
*.pth
*.pyc
*.pkl
*.pt

*.scp
*.csv

checkpoints/
*.pyc

self_supervised_output/logs/
WavTokenizer/result/
*.ckpt
decoder/__pycache__/
encoder/quantization/__pycache__/
lightning_logs/
encoder/modules/__pycache__/
decoder/__pycache__/
.vscode/mcp.json
